fastapi==0.103.*
httptools==0.6.*
lts-island-connectivity @ git+https://github.com/dvrpc/LTS_island_connectivity@0.2.6#egg=lts-island-connectivity
psycopg==3.2.*
pyyaml==6.0.*
sqlalchemy==2.0.*
uvicorn==0.23.*
uvloop==0.17.*
watchfiles==0.20.*
websockets==11.0.*
wheel==0.42.*
